extends layouts/_layout.pug

block variables
	- var activePage = 'dashboard'
	- var activeGroup = 'none'

block title
	title Edit Cookie #{cookieID}

block content


	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Edit Cookie #{cookieID}
			p Please enter new cookie details

	.row.user

		.col-md-12
			.tile
				h4.line-head Edit Cookie Settings
				form(method='POST' action='/cookie/update')
					.row
						.col-md-8.mb-4
							label Cookie ID
							input.form-control(type="text", name="id", value=cookie[0].cookie_id, readOnly='')

						.clearfix

						.col-md-8.mb-4
							label Cookie Name
							input.form-control(type="text", name="name", value=cookie[0].cookie_name)

						.clearfix

						.col-md-8.mb-4
							label Cookie Value
							input.form-control(type="text", name="value", value=cookie[0].cookie_value)

						.clearfix

						.col-md-8.mb-4
							label Cookie URL
							input.form-control(type="text", name="url", value=cookie[0].cookie_url)

						.clearfix

						.col-md-8.mb-4
							label Cookie Domain
							input.form-control(type="text", name="domain", value=cookie[0].cookie_domain)

						.clearfix

						.col-md-8.mb-4
							label Cookie Path
							input.form-control(type="text", name="path", value="/")

						.clearfix

						.col-md-8.mb-4
							label Cookie Expiration
							input.form-control(type="text", name="expiration", value="none")

						.clearfix

					.row.mb-10
						.col-md-12
							button.btn.btn-primary(type="submit")
								i.fa.fa-fw.fa-lg.fa-check-circle
								|  Save