extends /layouts/_layout.pug

block variables
	- var activePage = 'enrolled-devices'
	- var activeGroup = 'devices'

block title
	title Player List

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Player List
			p List of all the installed players in our managemene software
	.row
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#dataTable
						thead
							tr
								th ID
								th Location
								th Player Model
								th Hostname
								th IP Address
								th Status
								th Actions

						tbody
							each player in players 
								tr
									td 
										a(href='/player/view/' + player.player_id)= player.player_id
									td
										a(href='/player/view/' + player.player_id)= player.player_location

									td 
										if player.player_type == "Computer"
											a(href='/player/view/' + player.player_id)= "Raspberry Pi"
										else
											a(href='/player/view/' + player.player_id)= player.player_type
									td
										a(href='/player/view/' + player.player_id)= player.player_name
									td
										a(href='/player/view/' + player.player_id)= player.player_IP
									td
										if player.player_lastPing > (Date.now() - 10*60000)
											span.badge.badge-success= "ONLINE"
										else if player.player_lastPing > (Date.now() - 20*60000)
											span.badge.badge-warning= "LATE"
										else
											span.badge.badge-danger= "OFFLINE"
									td
										button.btn.btn-primary(type='button' onClick="sendUpdate('http://" + player.player_IP + ":4000/update')") Update Config
										button.btn.btn-secondary(type='button' onClick="sendUpdate('http://" + player.player_IP + ":4000/upgrade')") Upgrade Application



block specific-js
	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#dataTable').DataTable({
			"order": [[ 1, "asc" ]],
			"pageLength": 50
		});

	script.
		function sendUpdate(theUrl){
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("GET", theUrl, true);
			xmlHttp.send(null);
		}