extends /layouts/_layout.pug

block variables
	- var activePage = 'enrolled-devices'
	- var activeGroup = 'devices'

block title
	title Player List

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Player List
			p List of all the installed players in our managemene software
	.row

		.col-md-3.d-none
			.tile#treeView
				ul
					each org in orgs
						li(data-jstree='{"icon": "fas fa-sitemap", "opened" : true}')= org.org_name
							ul
								each bld in buildings
									if bld.building_orgId == org.org_id
										li(data-jstree='{"icon": "fas fa-building", "opened" : true}')= bld.building_name
											ul
												each floor in floors
													if floor.floor_buildingId == bld.building_id
														li(data-jstree='{"icon": "fas fa-align-justify", "opened" : true}')=floor.floor_name
															ul
																each room in rooms
																	if room.room_floorId == floor.floor_id
																		li(data-jstree='{"icon": "fas fa-door-closed"}')= room.room_name
																			ul
																				each player in players
																					if player.player_roomId == room.room_id
																						li(data-jstree='{"icon": "fas fa-play"}')= player.player_name
																							ul
																								each screen in screens
																									if screen.screen_playerId == player.player_id
																										li(data-jstree='{"icon": "fas fa-tv"}')= screen.screen_name
																				
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#dataTable
						thead
							tr
								th ID
								th Location
								th Player Model
								th Hostname
								th IP Address
								th Status
								th Actions

						tbody
							each player in players 
								tr
									td 
										a(href='/player/view/' + player.player_id)= player.player_id
									td
										a(href='/player/view/' + player.player_id)= player.player_location

									td 
										if player.player_type == "Computer"
											a(href='/player/view/' + player.player_id)= "Raspberry Pi"
										else
											a(href='/player/view/' + player.player_id)= player.player_type
									td
										a(href='/player/view/' + player.player_id)= player.player_name
									td
										a(href='/player/view/' + player.player_id)= player.player_IP
									td
										if player.player_lastPing > (Date.now() - 10*60000)
											span.badge.badge-success= "ONLINE"
										else if player.player_lastPing > (Date.now() - 20*60000)
											span.badge.badge-warning= "LATE"
										else
											span.badge.badge-danger= "OFFLINE"
									td
										button.btn.btn-primary(type='button' onClick="sendUpdate('http://" + player.player_IP + ":4000/update')") Update Config
										button.btn.btn-secondary(type='button' onClick="sendUpdate('http://" + player.player_IP + ":4000/upgrade')") Upgrade Application



block specific-js
	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#dataTable').DataTable({
			"order": [[ 1, "asc" ]],
			"pageLength": 50
		});

	script.
		function sendUpdate(theUrl){
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("GET", theUrl, true);
			xmlHttp.send(null);
		}

	script.
		$(function() {
			$('#treeView').jstree({
				"core" : { // core options go here
				"multiple" : false, // no multiselection
				"themes" : {
					"dots" : false // no connecting dots between dots
				}
			},
			"plugins" : [ "sort" ]
			});
		});